.container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
  cursor: auto;

}

.image{
  object-fit: cover;
  cursor: pointer;

}


.title{
  margin-bottom: 10px;
  cursor: pointer;

}

.desc{
  font-size: 18px;
  color: #999;
}

